.ftco-counter {
	margin-top: -100px;
	.container {
		z-index: 2;
		position: relative;
		background: #fff !important;
		padding: 30px;
	}
	.text {
		strong.number {
			font-weight: 400;
			font-size: 34px;
		}
	}
	.ftco-number {
		display: block;
		font-size: 72px;
		font-weight: bold;
		color: #ffb400;
	}
	.ftco-label {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
}
@media (max-width: 767.98px) {
	.ftco-counter {
		margin-top: -120px;
		.counter-wrap {
			margin-bottom: 20px;
		}
	}
}
@media (min-width: 768px) {
	.ftco-counter {
		.container {
			padding: 70px;
			padding-top: 40px;
		}
	}
}
