
<section class="ftco-section parallax-img" style="background-image: url('../../assets/images/photo-2.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <h2>Our Most Popular Services</h2>
      </div>
    </div>
  </div>
</section>

<app-loading *ngIf="loading"></app-loading>

<section *ngIf="utils.isLoaded(loading)" class="ftco-section bg-light">
  <div class="container special-dish">
    <div class="row d-flex no-gutters">

        <div *ngFor="let service of servicesList; let i = index">
      
          <div class="col-lg-12">
            <div *ngIf="i % 2 === 0">
            
              <div class="block-3 d-md-flex ftco-animate">
                
                <div
                  class="image order-last"
                  [style.background-image]="getBackground(service.thumbnail)"
                ></div>
                
                <div class="text text-center order-first">
                  <h2 class="heading">{{ service && service.title }}</h2>
                  <p>{{ service && service.description }}</p>
                  <span class="price">Pricing Based on Services Provided</span>
                </div>
              </div>
            </div>
  
            <div *ngIf="i % 2 !== 0">
              
              <div class="block-3 d-md-flex ftco-animate">
                
                <div
                  class="image order-first"
                  [style.background-image]="getBackground(service.thumbnail)"
                ></div>
              
                <div class="text text-center order-first">
                    <h2 class="heading">{{ service && service.title }}</h2>
                    <p>{{ service && service.description }}</p>
                    <span class="price">Pricing Based on Services Provided</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        




      <!--
      <div class="col-lg-6">
        <div class="block-3 d-md-flex ftco-animate">
          <div class="image order-last" style="background-image: url(../../assets/images/photo-1.jpg);"></div>
          <div class="text text-center order-first">
            <h2 class="heading">Service</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <span class="price">from $1.00</span>
          </div>
        </div>
        <div class="block-3 d-md-flex ftco-animate">
          <div class="image order-first" style="background-image: url(../../assets/images/photo-3.jpg);"></div>
          <div class="text text-center order-first">
            <h2 class="heading">Service</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>        
            <span class="price">from $1.00</span>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="block-3 d-md-flex ftco-animate">
          <div class="image order-last" style="background-image: url(../../assets/images/photo-4.jpg);"></div>
          <div class="text text-center order-first">
            <h2 class="heading">Service</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <span class="price">from $1.00</span>
          </div>
        </div>
        <div class="block-3 d-md-flex ftco-animate">
          <div class="image order-first" style="background-image: url(../../assets/images/photo-5.jpg);"></div>
          <div class="text text-center order-first">
            <h2 class="heading">Service</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <span class="price">from $1.00</span>
          </div>
        </div> 
      </div>
      -->

    </div>
  </div>
</section>