<!-- <div hidden>{{ eventList && eventList.length }}</div> -->

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Blog</span>
        <h2>Recent Blog Postings</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="carousel1 owl-carousel ftco-owl">
        <div class="item">
          <div class="blog-entry">
            <a href="/blog-single" routerLink="/blog-single" class="block-20" style="background-image: url('../../../assets/images/photo-3.jpg');">
            </a>
            <div class="text p-4">
              <div class="meta">
                <div><a href="#">January 1st, 2019</a></div>
                <div><a href="#">Admin</a></div>
              </div>
              <h3 class="heading"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></h3>
              <p class="clearfix">
                <a href="#" class="float-left read">Read more</a>
                <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="blog-entry" data-aos-delay="100">
            <a href="/blog-single" routerLink="/blog-single" class="block-20" style="background-image: url('../../../assets/images/photo-4.jpg');">
            </a>
            <div class="text p-4">
              <div class="meta">
                <div><a href="#">January 1st, 2019</a></div>
                <div><a href="#">Admin</a></div>
              </div>
              <h3 class="heading"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></h3>
              <p class="clearfix">
                <a href="#" class="float-left read">Read more</a>
                <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="blog-entry" data-aos-delay="200">
            <a href="/blog-single" routerLink="/blog-single" class="block-20" style="background-image: url('../../../assets/images/photo-5.jpg');">
            </a>
            <div class="text p-4">
              <div class="meta">
                <div><a href="#">January 1st, 2019</a></div>
                <div><a href="#">Admin</a></div>
              </div>
              <h3 class="heading"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></h3>
              <p class="clearfix">
                <a href="#" class="float-left read">Read more</a>
                <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="blog-entry" data-aos-delay="200">
            <a href="/blog-single" routerLink="/blog-single" class="block-20" style="background-image: url('../../../assets/images/photo-6.jpg');">
            </a>
            <div class="text p-4">
              <div class="meta">
                <div><a href="#">January 1st, 2019</a></div>
                <div><a href="#">Admin</a></div>
              </div>
              <h3 class="heading"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></h3>
              <p class="clearfix">
                <a href="#" class="float-left read">Read more</a>
                <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="blog-entry" data-aos-delay="200">
            <a href="/blog-single" routerLink="/blog-single" class="block-20" style="background-image: url('../../../assets/images/photo-7.jpg');">
            </a>
            <div class="text p-4">
              <div class="meta">
                <div><a href="#">January 1st, 2019</a></div>
                <div><a href="#">Admin</a></div>
              </div>
              <h3 class="heading"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></h3>
              <p class="clearfix">
                <a href="#" class="float-left read">Read more</a>
                <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>