
<section class="home-slider owl-carousel">
  <div
    class="slider-item"
    style="background-image: url('../../assets/images/skyline.png');"
    data-stellar-background-ratio="0.5"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-10 col-sm-12 ftco-animate text-center">
          <p class="breadcrumbs">
            <span class="mr-2"><a href="/" routerLink="/">Home</a></span>
            <span>Book an Event</span>
          </p>
          <h1 class="mb-3">Event Booking</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2>Event Booking Request Form</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div
        class="col-md-4 ftco-animate img"
        style="background-image: url(../assets/images/cover_img_1.jpg);"
      ></div>
      <div class="col-md-8 ftco-animate makereservation p-5 bg-light">
        <form action="#">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Name"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Email</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Email"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Phone</label>
                <input type="text" class="form-control" placeholder="Phone" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Event Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="book_date"
                  placeholder="Date"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Time</label>
                <input
                  type="text"
                  class="form-control"
                  id="book_time"
                  placeholder="Time"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Location</label>
                <input
                  type="text"
                  class="form-control"
                  id="book_location"
                  placeholder="Location"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="">Estimated Guest Count</label>
                <div class="select-wrap one-third">
                  <div class="icon">
                    <span class="ion-ios-arrow-down"></span>
                  </div>
                  <select name="" id="" class="form-control">
                    <option value="">Persons</option>
                    <option value="">20</option>
                    <option value="">30</option>
                    <option value="">40</option>
                    <option value="">50+</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="">Estimated Budget</label>
                <input
                  type="text"
                  class="form-control"
                  id="book_budget"
                  placeholder=""
                />
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="">Tell us about your event</label>
                <input
                  type="text"
                  class="form-control"
                  id="book_description"
                  placeholder=""
                />
              </div>
            </div>

            <div class="col-md-6 btn-group-vertical">
              <label>What type of event are you planning?</label>
              <div class="radio">
                <label
                  ><input type="radio" name="optradio" checked />Wedding</label
                >
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" />Corporate</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" />Social</label>
              </div>
              <div class="radio">
                <label
                  ><input type="radio" name="optradio" checked />Event</label
                >
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" />Party</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" />Family</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" />Design</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" />Association</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" />Noprofit</label>
              </div>

              <div class="radio">
                <label><input type="radio" name="optradio" />Other</label>
              </div>
            </div>

            <!-- 
              What services are you interested in? (check as many as you like) 
              Meeting, conference, or convention planning
              Help finding an event venue (Venue Sourcing)
              Early stage planning: budget creation, venue and vendor recommendations, initial ideas ("kick off")
              Partial planning
              Full service planning
              Day-of coordination
              Not sure / Flexible
            -->

            <div class="col-md-12 mt-3">
              <div class="form-group">
                <input
                  type="submit"
                  value="Submit Request"
                  class="btn btn-primary py-3 px-5"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<app-gallery></app-gallery>
