<!-- <div hidden>{{ eventList && eventList.length }}</div> -->

<section class="home-slider owl-carousel">
  <div
    class="slider-item"
    style="background-image: url('../../../assets/images/skyline.png');"
    data-stellar-background-ratio="0.5"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-10 col-sm-12 ftco-animate text-center">
          <p class="breadcrumbs">
            <span class="mr-2"><a href="/" routerLink="/">Home</a></span>
            <span>Update Homepage Details</span>
          </p>
          <h1 class="mb-3">Update Homepage Details</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <!-- <div class="row" style="margin-left: 0px; margin-right: 0px;"> -->
  <div style="margin-left: 0px; margin-right: 0px;">


    <!-- src/app/pages/admin/update-event/update-event.component.html -->
    <h1 class="text-center">{{ pageTitle }}</h1>

    <app-loading *ngIf="loading"></app-loading>

    <ng-template [ngIf]="utils.isLoaded(loading)">


      <div *ngIf="homepage" class="card">

        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[]" [queryParams]="{ tab: 'edit' }" [ngClass]="{ 'active': utils.tabIs(tab, 'edit') }">Edit</a>
            </li>
          </ul>
        </div>

        <div class="card-body" style="padding: 10px;">
          <!-- Edit homepage form -->
          <app-homepage-form *ngIf="utils.tabIs(tab, 'edit')" [homepage]="homepage"></app-homepage-form>
        </div>

      </div>


      <!-- Error loading homepage -->
      <p *ngIf="error" class="alert alert-danger">
        <strong>Error:</strong> Homepage data could not be retrieved. View
        <a routerLink="/admin" class="alert-link">Admin Homepage</a>.
      </p>
    </ng-template>

  </div>
</div>