<div hidden>{{ testimonialsList && testimonialsList.length }}</div>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">What Our Clients Are Saying!</span>
        <h2>Client Feedback</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="carousel owl-carousel ftco-owl">
        
            <div *ngFor="let testimony of testimonialsList">
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5">
                <!-- <div class="user-img mb-4" style="background-image: url(../../assets/images/photo-1.jpg); border: 1px solid red;"></div> -->

                <div
                  class="user-img mb-4"
                  [style.background-image]="
                    getRandomBackground()
                  "
                ></div>

                <div class="text">
                  <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
                  <p class="mb-5">{{ testimony.quote }}</p>
                  <p class="name">{{ testimony.name }}</p>
                  <span class="position">Additional details...</span>
                </div>
              </div>
            </div>     
            </div>       

        <!-- 
        <div class="item text-center">
          <div class="testimony-wrap p-4 pb-5">
            <div class="user-img mb-4" style="background-image: url(../../assets/images/photo-1.jpg); border: 1px solid red;"></div>
            <div class="text">
              <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="name">Author</p>
              <span class="position">Additional details...</span>
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="testimony-wrap p-4 pb-5">
            <div class="user-img mb-4" style="background-image: url(../../assets/images/photo-2.jpg); border: 1px solid red;"></div>
            <div class="text">
              <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="name">Author</p>
              <span class="position">Additional details...</span>
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="testimony-wrap p-4 pb-5">
            <div class="user-img mb-4" style="background-image: url(../../assets/images/photo-3.jpg); border: 1px solid red;"></div>
            <div class="text">
              <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="name">Author</p>
              <span class="position">Additional details...</span>
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="testimony-wrap p-4 pb-5">
            <div class="user-img mb-4" style="background-image: url(../../assets/images/photo-4.jpg); border: 1px solid red;"></div>
            <div class="text">
              <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="name">Author</p>
              <span class="position">Additional details...</span>
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="testimony-wrap p-4 pb-5">
            <div class="user-img mb-4" style="background-image: url(../../assets/images/photo-5.jpg); border: 1px solid red;"></div>
            <div class="text">
              <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="name">Author</p>
              <span class="position">Additional details...</span>
            </div>
          </div>
        </div>
        -->
      
      </div>
    </div>
  </div>
</section>