<!--
<div>
  <div class="container">
    <div class="text-center">
    -->

<!-- items being paged -->
<div *ngFor="let event of pagedItems">
  <!-- {{event.title}} -->

  <div class="card" style="margin-right: 2rem;">
    <div class="card-body" style="margin: 5px; min-height: 110px; ">
      <h3>{{ event.title }}</h3>
      <p>
        <span class="thumbnails" data-toggle="lightbox">
          <img
            [src]="event.thumbnail"
            alt=""
            class="thumbnail"
            style="margin-right: 10px;"
            align="left"
            width="100"
            [attr.data-target]="event.thumbnail"
          />
        </span>

        Purpose: {{ event.purpose }} <br />
        Description: {{ event.description }}
      </p>
    </div>
  </div>
</div>

<!-- pager -->

<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
  <li class="page-item" [ngClass]="{ disabled: pager.currentPage === 1 }">
    <a class="page-link" (click)="setPage(1)">First</a>
  </li>
  <li class="page-item" [ngClass]="{ disabled: pager.currentPage === 1 }">
    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
  </li>
  <li
    class="page-item"
    *ngFor="let page of pager.pages"
    [ngClass]="{ active: pager.currentPage === page }"
  >
    <a class="page-link" (click)="setPage(page)">{{ page }}</a>
  </li>
  <li
    class="page-item"
    [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
  >
    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
  </li>
  <li
    class="page-item"
    [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
  >
    <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
  </li>
</ul>

<!--
    </div>

  </div>
</div>
-->
