
<section class="ftco-section-2">
  <div class="container d-flex">
    <div class="section-2-blocks-wrapper row">
      <!-- <div class="img col-sm-12 col-lg-6" style="background-image: url('../../assets/images/about-2.jpg');"> -->
      <div class="img col-sm-12 col-lg-4" style="border-radius: 5px; margin-top: 20px; background-image: url('../../assets/images/photo-9.jpg');">  
      </div>
      <div class="text col-lg-8 ftco-animate">
        <div class="text-inner align-self-start">
          <span class="subheading">About Event Planning NW</span>
          <h3 class="heading">A little about us</h3>
          <p [innerHTML]="homepage && homepage.welcomeMsg"></p>
        </div>
      </div>
    </div>
  </div>
</section>

