<!-- <div hidden>{{ eventList && eventList.length }}</div> -->

<section class="home-slider owl-carousel">
    <div
      class="slider-item"
      style="background-image: url('../../../assets/images/skyline.png');"
      data-stellar-background-ratio="0.5"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-10 col-sm-12 ftco-animate text-center">
            <p class="breadcrumbs">
              <span class="mr-2"><a href="/" routerLink="/">Home</a></span>
              <span>Staff Members</span>
            </p>
            <h1 class="mb-3">Staff Members</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

<div class="container">
  <!-- <div class="row" style="margin-left: 0px; margin-right: 0px;"> -->
  <div style="margin-left: 0px; margin-right: 0px;">
    <h1 class="text-center">{{ pageTitle }}</h1>
    <app-loading *ngIf="loading"></app-loading>

    <ng-template [ngIf]="utils.isLoaded(loading)">
      <p class="lead">Welcome, {{ auth.userProfile?.name }}! You can create and administer personel below.</p>

      <!-- 
        <button class="btn btn-primary" style="margin-bottom: 10px;" type="button">New Event</button>
      -->

      <p>
        <a class="btn btn-success btn-block" routerLink="/admin/personel/new">+ Add New Personel</a>
      </p>

      <!-- Personel -->
      <ng-template [ngIf]="personelList">
        <ng-template [ngIf]="personelList.length">
          <!-- Search personel -->
          <!--
          <label class="sr-only" for="search">Search</label>
          <div class="search input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">Search</div>
            </div>
            <input id="search" type="text" class="form-control" [(ngModel)]="query" (keyup)="searchEvents()" />
            <span class="input-group-append">
              <button class="btn btn-danger" (click)="resetQuery()" [disabled]="!query">&times;</button>
            </span>
          </div>
          -->
          <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-search"></i>
            </span>
            <input id="search" type="text" class="form-control" [(ngModel)]="query" (keyup)="searchPersonel()" />
            <span class="input-group-addon">
              <a (click)="resetQuery()">&times;</a>
            </span>
          </div>

          <!-- No search results -->
          <p *ngIf="fs.noSearchResults(filteredPersonel, query)" class="alert alert-warning">
            No person found for
            <em class="text-danger">{{ query }}</em>, sorry!
          </p>

          <!-- Personel listing -->
          <section class="list-group" [@expandCollapse]>
            <div *ngFor="let person of fs.search(filteredPersonel)" class="ftco-animate list-group-item list-group-item-action flex-column align-items-start ">
              <div style="display: inline">
                <div class="d-flex w-100 justify-content-between ">
                  <a [routerLink]="[ '/admin/personel', person._id] ">
                    <h5 class="mb-1 " [innerHTML]="person.name"></h5>
                  </a>
                  <h5 class="mb-1" [innerHTML]="person.role"></h5>
                </div>

                <p class="mb-1">
                  <a class="btn btn-info btn-sm mr-1" [routerLink]="['/admin/personel/update', person._id]">Edit</a>
                  <a class="btn btn-danger btn-sm" [routerLink]="['/admin/personel/update', person._id]" [queryParams]="{tab: 'delete'}">Delete</a>
                </p>
              </div>
            </div>
          </section>
        </ng-template>

        <!-- No personel available -->
        <p *ngIf="!personelList.length " class="alert alert-info ">
          No personel have been created yet.
        </p>
      </ng-template>

      <!-- Error loading events -->
      <p *ngIf="error " class="alert alert-danger ">
        <strong>Oops!</strong> There was an error retrieving personel data.
      </p>

    </ng-template>
  </div>
</div>